<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porfolio</title>
    <style>
        body{
            background-color: rgb(0, 0, 0, 0.829);
        }
        H1{
            color:red;
            text-align: center;
            margin-top: 300px;
        }
        button{
            margin-left: 47%;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>....PROJECT IS COMING SOON....</h1>
    <button><a href="../home.html">HOME</a></button>
    <!-- <a href="{{url_for('home')}}"><button>HOME</button></a> -->
    <!-- <script>
        function home(){
            window.location="index.html";
        }
    </script> -->
</body>
</html>